<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Main</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

	<h2>Main Page</h2>>
	<img src="images/main.png">
	
</body>
</html>